
body {
    padding: 20px;
    background-color: #1f0624;
    color: #844343;
  }
  h1{
    color:rgba(20, 220, 153, 0.781);
    text-align: center;
}
div{
    color: black;
    width: 200px;
    height: 250px;
}